@charset "utf-8";
/* ===== 박스 영역 설정 ===== */

/* layerPopup */
.layerPopWrap { visibility:hidden; overflow-y:auto; display:flex; justify-content: center; align-items:center; position:fixed; top:0; left:0; width:100%; height:100%; padding:20px 0; z-index:9999; opacity:0; transition:all .2s ease; background:rgba(0,0,0,0.7);
    .layerPopCont {display:flex; display:-ms-flex; flex-direction:column; position: relative; width:auto; min-width:90rem; max-width:70rem; padding:0px; margin:auto 0; background:#fff;
        h1 { display:flex; height:6.8rem; padding:0 2rem; font-size:2rem; color:rgba(0, 0, 0, 0.88); font-weight: 600; align-items: center;}
    }
    .popBtnGroup { display:flex; flex-flow: column; align-items: center;
        .button { min-width:17rem; margin-top:1rem;}
    }
    .btnClose { display:block; position:absolute; top:0.3rem; right:1rem; width:4rem; height:4rem; font-size:0;
        &:before { content:''; display:block; position:absolute; top:50%; left:50%; width:2rem; height:0.15rem; background:rgba(0, 0, 0, 0.88); transform: translate(-50%, -50%) rotate(45deg);}
        &:after { content:''; display:block; position:absolute; top:50%; left:50%; width:2rem; height:0.15rem; background:rgba(0, 0, 0, 0.88); transform: translate(-50%, -50%) rotate(-45deg);}
    }
    .popCont { padding-bottom:4rem;}
     
    &.noDim { background:none;}
    &.mainPop { width:auto; height:auto; justify-content: flex-start; align-items: center;}

    /* 활성화 */
    &.on { visibility:visible; opacity:1;
        .layerPopCont{ animation:fadeInDown .4s ease-in-out forwards;}
    }

    .pop-list-search { display: flex; padding:0 2rem 1.6rem;
        .left {
            button { display: inline-flex; height:4rem; border:1px solid rgba(64, 150, 255, 1); padding:0 1.5rem; border-radius: .5rem; font-size:1.4rem; color:rgba(64, 150, 255, 1); box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02); align-items: center; justify-content: center;}
            button + button { margin-left:.8rem;}
        }
        .right { overflow: hidden; display: flex; margin-left:auto; border-radius: .5rem;
            input { width:28.7rem; border:1px solid rgba(217, 217, 217, 1); border-right: 0; background:none;}
            .btn-search { position:relative; width:4rem; height:4rem; font-size:0; background:rgba(64, 150, 255, 1);
                &:before { content:''; display: block; position:absolute; top:50%; left:50%; width:1.8rem; height:1.8rem; background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9891 15.0205L11.424 10.4555C12.1324 9.53965 12.5156 8.41992 12.5156 7.24219C12.5156 5.83242 11.9654 4.51055 10.9705 3.51387C9.97559 2.51719 8.6502 1.96875 7.24219 1.96875C5.83418 1.96875 4.50879 2.51895 3.51387 3.51387C2.51719 4.50879 1.96875 5.83242 1.96875 7.24219C1.96875 8.6502 2.51895 9.97559 3.51387 10.9705C4.50879 11.9672 5.83242 12.5156 7.24219 12.5156C8.41992 12.5156 9.53789 12.1324 10.4537 11.4258L15.0188 15.9891C15.0321 16.0025 15.048 16.0131 15.0655 16.0203C15.083 16.0276 15.1018 16.0313 15.1207 16.0313C15.1396 16.0313 15.1584 16.0276 15.1759 16.0203C15.1934 16.0131 15.2093 16.0025 15.2227 15.9891L15.9891 15.2244C16.0025 15.211 16.0131 15.1951 16.0203 15.1776C16.0276 15.1601 16.0313 15.1414 16.0313 15.1225C16.0313 15.1035 16.0276 15.0848 16.0203 15.0673C16.0131 15.0498 16.0025 15.0339 15.9891 15.0205ZM10.0266 10.0266C9.28125 10.7701 8.29336 11.1797 7.24219 11.1797C6.19102 11.1797 5.20313 10.7701 4.45781 10.0266C3.71426 9.28125 3.30469 8.29336 3.30469 7.24219C3.30469 6.19102 3.71426 5.20137 4.45781 4.45781C5.20313 3.71426 6.19102 3.30469 7.24219 3.30469C8.29336 3.30469 9.28301 3.7125 10.0266 4.45781C10.7701 5.20313 11.1797 6.19102 11.1797 7.24219C11.1797 8.29336 10.7701 9.28301 10.0266 10.0266Z' fill='white'/%3E%3C/svg%3E%0A"); transform: translate(-50%,-50%);}
            }
        }
    }

    .node-cont {}
}

.popupDim { position:fixed; top:0; left:0; right:0; bottom:0; z-index:100; background:rgba(0,0,0,0.5);}

.tost-wrap { position:fixed; bottom:1rem; left:0; right:0; z-index:10; width:100%; padding:0 2rem; margin:0 auto; pointer-events: none;
    .tost-box {display:none; padding:1rem; color:#fff; border-radius:.3rem; background:rgba(0,0,0,0.7); pointer-events: none;
        + .tost-box {margin-top:.2rem;}
    }
}


@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -20%, 0);
      transform: translate3d(0, -20%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
  
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -20%, 0);
      transform: translate3d(0, -20%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@media screen and (max-width:1000px) {
    .layerPopWrap .layerPopCont {min-width:inherit; width:768px; max-width:90%;}
}

@media screen and (max-width:767px) {
    .layerPopWrap .layerPopCont {min-width:inherit; width:90%; max-width:90%;}
    .layerPopWrap {
        .pop-list-search { display:block;
            .right { margin-top:1rem;
                input { width:100%;}
            }
        }
    }
}